.Counter{
    display: flex;
    align-items: center;
    background: #F8F7F5;
    padding: 0 24px;
    width: fit-content;
    gap: 16px;
    height: 42px;
    border-radius: 8px;
    
    &--small {
        background-color: var(--accent-color);
        font-size: 14px;

        padding: 5px;
        height: 25px;
        gap: 2px;

        div {
            height: 25px;
            aspect-ratio: 1;
        }

        p {
            width: fit-content;
        }
    }
}

.click{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.count{
    width: 10px;
    text-align: center;
}